In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#Read the data
data = 'KCB Historical Data.csv'
td = pd.read_csv(data)
td

            Date  Price   Open   High    Low     Vol. Change %
0   Aug 23, 2019  40.00  40.05  40.20  40.00   82.00K    0.00%
1   Aug 22, 2019  40.00  39.90  40.10  39.90    2.74M    0.25%
2   Aug 21, 2019  39.90  39.95  40.00  39.90  206.60K    0.13%
3   Aug 20, 2019  39.85  39.50  40.00  39.50    1.09M    0.25%
4   Aug 19, 2019  39.75  40.00  40.00  39.50    1.44M   -0.13%
5   Aug 16, 2019  39.80  39.90  39.90  39.70  406.10K   -0.13%
6   Aug 15, 2019  39.85  39.60  39.95  39.60  249.70K   -0.13%
7   Aug 14, 2019  39.90  39.65  40.00  39.60    1.26M    0.63%
8   Aug 13, 2019  39.65  39.55  40.00  39.55   99.50K   -0.38%
9   Aug 09, 2019  39.80  39.50  40.00  39.50  295.80K    0.89%
10  Aug 08, 2019  39.45  39.30  39.80  39.30  113.30K    0.51%
11  Aug 07, 2019  39.25  39.35  39.50  39.20  425.90K   -0.38%
12  Aug 06, 2019  39.40  39.50  39.50  39.00  314.80K   -0.25%
13  Aug 05, 2019  39.50  39.95  39.95  39.45  958.30K   -1.25%
14  Aug 02, 2019  40.00  40.00  40.25  39.95  213.40K    0.00%
15  Aug 01, 2019  40.00  40.00  40.20  39.95  360.90K    0.00%
16  Jul 31, 2019  40.00  40.00  40.20  39.95    2.98M    0.13%
17  Jul 30, 2019  39.95  39.85  40.00  39.80  445.90K    0.13%
18  Jul 29, 2019  39.90  39.80  40.00  39.70    2.48M    0.00%
19  Jul 26, 2019  39.90  39.90  40.00  39.80    1.43M    0.00%
20  Jul 25, 2019  39.90  39.95  40.00  39.80    1.88M   -0.25%
21  Jul 24, 2019  40.00  40.00  40.00  39.90    1.10M    0.38%
22  Jul 23, 2019  39.85  40.00  40.00  39.70    2.37M    0.13%

In [4]:
td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 7 columns):
Date        23 non-null object
Price       23 non-null float64
Open        23 non-null float64
High        23 non-null float64
Low         23 non-null float64
Vol.        23 non-null object
Change %    23 non-null object
dtypes: float64(4), object(3)
memory usage: 1.3+ KB

In [5]:
td.describe()

           Price       Open       High        Low
count  23.000000  23.000000  23.000000  23.000000
mean   39.808696  39.791304  39.980435  39.663043
std     0.215139   0.238200   0.183240   0.262945
min    39.250000  39.300000  39.500000  39.000000
25%    39.775000  39.575000  39.975000  39.500000
50%    39.900000  39.900000  40.000000  39.700000
75%    39.975000  40.000000  40.000000  39.900000
max    40.000000  40.050000  40.250000  40.000000